.circleanime {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 10%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg,
  .logoimg,
  .logo {
    position: absolute;
    top: 59%;
    left: 84%;
    transform: translate(-50%, -50%);
  }

  img {
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
    opacity: 0;
    animation: fadeIn 2s linear forwards;
    animation-delay: 6s;
  }

  .logo {
    width: 390px;
    height: 390px;
    background-color: #f37867;
    border-radius: 100%;
    opacity: 0;
    animation: fadeIn 2s linear forwards;
    animation-delay: 5s;
  }

  .logoimg {
    width: 445px;
    height: 445px;
    border-radius: 100%;
    opacity: 0;
    animation: fadeIn 2s linear forwards;
    animation-delay: 5s;
    left: 81.7%;
    top: 48%;
  }

  .circle {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1000;
    animation: stroke 5s ease-out forwards;
    animation-delay: 1s;
  }

  @keyframes stroke {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}