.circleanime {
  height: 500px;
  position: relative;

  svg {
    position: absolute;
    display: block;
    margin: auto;
  }

  .svgC {
    position: absolute;
    top: 0px;
    left: 75px;
  }

  .logoimg {
    position: absolute;
    top: -40px;
    left: 44px;
  }

  .logo {
    position: absolute;
    top: 53px;
    left: 100px;
  }

  img {
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
    opacity: 0;
    animation: fadeIn 2s linear forwards;
    animation-delay: 6s;
  }

  .logo {
    width: 390px;
    height: 390px;
    background-color: #f37867;
    border-radius: 100%;
    opacity: 0;
    animation: fadeIn 2s linear forwards;
    animation-delay: 5s;
  }

  .logoimg {
    width: 445px;
    height: 445px;
    border-radius: 100%;
    opacity: 0;
    animation: fadeIn 2s linear forwards;
    animation-delay: 5s;
  }

  .circle {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1000;
    animation: stroke 4.5s ease-out forwards;
    animation-delay: 1s;
  }

  @keyframes stroke {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}